{% extends "empty_layout.html" %}
{% load static %}

{% block content %}

	<h2 class="offset-md-1"> Confirm new order </h2>
	<br/>

	<form method="POST" id="oid-form">
		{% csrf_token %}
		<input type="hidden" name="oid" value="{{ order.id }}" />
	</form>

	{% if msg %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
			<strong> {{ msg_type|title }} ! </strong> {{ msg }}
		</div>
	{% endif %}
	{% if not order %}
		<form method="POST" enctype="multipart/form-data" class="row" id="qrcode-form">
			{% csrf_token %}
			<h4 class="offset-md-2 align-self-center" > Scan Data </h4>
			<div class="offset-md-1">
				<textarea  class="form-control" id="scanned-data" autofocus style="height:100%;"> </textarea>
			</div>
			<input type="hidden" name="o_id" />
			<div class="qrcode-wrapper offset-md-2 row text-center">
				<input type="file" name="qrcode" id="qrcode-input" />
				<h4 class="align-self-center text-center"> Or browser Qr code </h4>
			</div>
		</form>
		<div class="clearfix"> </div>
		<br/>
		<label class="col-md-14 display-4 offset-md-1 align-self-center text-center"> Please scan QR code </label>
	{% else %}
		<div class="order-content">
			<div class="offset-md-2 row">
				<img src="{% static order.qrcode.url %}" class="col-md-4 qr-code  portal-item" />
				<div class="offset-md-1 col-md-9 portal-item">
					<div class="offset-md-1 col-md-7  portal-item">
						<h4> Sending Part </h4>
						<label> Name: </label> <span> {{ order.user.first_name }} {{ order.user.last_name }} </span> <br/>
						<label> Address: </label> <span> {{ data.sender.address }} </span> <br/>
						<label> Postcode: </label> <span> {{ data.sender.postcode }} </span> <br/>
						<label> Country </label> <span> {{ countries|get_item:data.sender.country }} </span> <br/>
					</div>
					<div class="offset-md-1 col-md-6  portal-item">
						<h4> Receiving Part </h4>
						<label> Name: </label> <span> {{ data.receiver.name }} </span> <br/>
						<label> Address: </label> <span> {{ data.receiver.address }} </span> <br/>
						<label> Postcode: </label> <span> {{ data.receiver.postcode }} </span> <br/>
						<label> Country </label> <span> {{ countries|get_item:data.receiver.country }} </span> <br/>
					</div>

						<div class="col-md-15 offset-md-1  portal-item">
							<br/>
							<h3> Service Detail </h3>
							<div class="row">
								<div class="col-md-6  portal-item">
									<label> Service </label> <span> {{ data.service.super.name }} </span> <br/>
									<label> Category </label> <span> {{ data.service.service.name }} </span> <br/>
									<label> Action </label> <span> {{ data.service.subservice.name }} </span>
								</div>
								<div class="col-md-4 offset-md-1  portal-item">
									<h5> {{ data.service.service.itemName }} </h5>
									{% with data.service.service|get_item:data.service.service.itemName as items %}
										{% for item, value in items.items %}
											<label> {{ value.name }} </label> <span> {{ value.value }} </span> <br/>
										{% endfor %}
									{% endwith %}
								</div>
							</div>

						</div>

				</div>
			</div>
			<hr class="offset-md-1 col-md-14" />
			<div class="offset-md-1 row col-md-14 card"> 
				<h3 class="col-md-16 card-header"> Documents </h3>
				<div class="card-body">
					<table class="table table-stripped">
						<thead>
							<tr class="col-md-14" id="documents_header">
								<th class="cell-sm"> No </th>
								<th class="cell-sm"> Name </th>
								<th class="cell-lg"> Description </th>
								<th class="cell-sm"> Quantity </th>
								<th class="cell-sm"> Unit Price </th>
								<th class="cell-sm"> Total </th>
								<th class="cell-sm"> Fee </th>
								<th class="cell-sm"> Check </th>
							</tr>
						</thead>
						<tbody id="documents_body">
							
								{% for doc in data.documents %}
									<tr>
										<td > {{ doc.no }} </td>
										<td > {{ doc.name }} </td>
										<td > {{ doc.description }} </td>
										<td > {{ doc.quantity }} </td> 
										<td > {{ doc.unit_price }} </td>
										<td > {{ doc.total }} </td>
										<td > {{ doc.fee }} </td>
										<td> <span class="check_doc text text-danger fa fa-square-o"> </span> </td>
									</tr>
								{% endfor %}							
						</tbody>
					</table>
				</div>
			</div>

			<button id="register" disabled class="offset-md-13 btn btn-lg btn-primary" > 
				<span class="fa fa-plus"> </span> Register 
			</button>

		</div>
	{% endif %}

{% endblock %}

{% block custom_script %}
	<script language = "javascript">
		$(document).ready(function() {
			{% if not order %}
				$(document).click(function() {
					$("#scanned-data").focus();
				});
				$("#scanned-data").change(function() {
					var value = $(this).val();
					setTimeout(function() {
						var data = JSON.parse(value);
						$("input[name='o_id']").val(data['id']);
						$("#qrcode-form").submit();
					}, 100);
				}); 
			{% endif %}
			$("#qrcode-input").change(function() {
				$("#qrcode-form").submit();
			}); 
			$(".check_doc").click(function() {
				$(this).removeClass('text-danger fa-square-o').addClass('fa-check-square-o text-success');
				if($(".fa-square-o").length == 0)
					$("#register").prop('disabled', false);
			}); 
			$("#register").click(function() {
				$("#oid-form").submit();
			}); 
			{% if close %}
				window.close();
			{% endif %}
		}); 
	</script>
{% endblock %}
