{% extends "main.html" %}
{% load static %}

{% load extra %}

{% block content %}
<div class="col-sm-14 offset-md-1">

	<div id="alert-area">
		{% if msg %}
			<div class="alert alert-{{msg_type}} alert-dismissible fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
				<strong> {{ msg_type|title }} ! </strong> {{ msg }}
			</div>
		{% endif %}
	</div>

	<h3> Order List </h3>

	<ul class="nav nav-tabs" role="tablist">
		{% for key in keyorder %}
			<li class="nav-item"> 
				<a class="nav-link {%if forloop.counter == 1 %} active {% endif %} " data-toggle="tab" href="#id-{{key}}" role="tab" >
					{{ key|title }}
				</a> 
			</li>
		{% endfor %}
		<li class="d-flex mr-auto" > &nbsp; </li>
		<li class="pull-right col-md-5">
			<input type="text" class="form-control" id="list-search-box" placeholder="Search" />
			{# <button class="btn btn-link icon-header " type="submit"><span class="fa fa-search"></span></button> #}
		</li>
	</ul>

	<div class="tab-content">
	{% for key in keyorder %}
		<div class="tab-pane {%if forloop.counter == 1 %} active {% endif %}" id="id-{{key}}" role="tabpanel" >
			<ul class="order_list col-sm-16 list-group">
				{% for order in orders|get_item:key %}
					<li class="list-group-item" > 
						<label class="order-item" itemdata="{{ order.order|get_full_content }}"> <a href="{% url 'order_review' order.order.id %}">  
							 {{ order.order }} 
						</a>  </label>
						<div class="d-flex mr-auto"> &nbsp;</div>
						<label class="pull-right" {% if cur_pc.id != order.next.id %} disabled {% endif %} > 
							{{ order.next }} 
							{% if cur_pc.id == order.next.id and key != 'complete' %}
								<label class="order_next" itemnext="{{ order.next.id }}" itemnexttype="{{order.next.userprofile.user_type.name}}" itemorder="{{ order.order.id }}" itemkey="{{key}}">
									<span class="fa fa-star text text-success text-lg"> </span>
								</label>
							{% endif %}
						</label>
					</li>
				{% endfor %}
			</ul>
			{% if key != 'complete' and orders|get_item:key %}
				<br/>
				<button type="key" class="btn btn-primary offset-md-14 btn-md bulk-action"> 
					{% if key == 'confirm' %}
						Confirm
					{% else %}
						Submit
					{% endif %}
				</button>
			{% endif %}
		</div>
	{% endfor %}
	</div>

</div>
{% endblock %}

{% block custom_script %}
	<script language="javascript"> 
		$(document).ready(function() {
			$(".order_next").click(function() {
				register_window = window.open("{% url 'postman_register_order' %}"+"?order="+$(this).attr("itemorder"), "MsgWindow", "width=1000,height=600");
				function check_child() {
					if(register_window.closed) {
						console.log("HERE");
						window.location = window.location;
						clearInterval(intval);
					}
				}
				var intval = setInterval(check_child, 1000);
			}); 
			$(".bulk-action").click(function() {
				var targets = $(this).parent().find("label.order_next");
				if(targets.length == 0) {
					alert("There is no Action available.\n Please visit Client or Process Center and do it again.");
					return; 
				}
				var payload = "[", type='next';
				targets.each(function() {
					var where = $(this).attr('itemkey');
					if(where == 'confirm') {
						if($(this).attr("itemnexttype") == 'Client') {
							$(this).click();
							type = 'none';
						} else {
							payload += '' + $(this).attr("itemorder") + ',';
							type = 'confirm'
						}
					}
					else
						payload += '{"next_id":"'+$(this).attr("itemnext")+'", "order_id":"'+$(this).attr("itemorder")+'"},'
				}); 
				payload = payload.substring(0,payload.length-1)+']';
				var url = '';

				if(type == 'next')
					url = "{% url 'postman_order_next_bulk' %}";
				else if(type == 'confirm')
					url = "{% url 'postman_order_confirm_bulk' %}";
				if(url != '')
					$.post(
						url, {
							'payload': payload, 
							'csrfmiddlewaretoken': csrf
						}, function(r) {
							$("#alert-area").html('<div class="alert alert-info alert-dismissible fade show" role="alert"> \
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button> \
									<strong> Info ! </strong> Your request has been sent! Please wait for confirmation. \
								</div>');
							// window.location = window.location+"?alert=true";
						} ); 
			}); 
		}); 
	</script>
	<script language="javascript" src="{% static 'js/order_list_search.js' %}"> </script>
{% endblock %}
