{% extends 'main.html' %}

{% block content %}

	<div class="col-md-9 offset-md-5 register-form">
		<form class="form" method="post" id="register-form">
			{% csrf_token %}
			<h3> Register </h3>
			<h5> credentials </h5>
			<div class="form-group">
				<input class="form-control" type="email" name="email" placeholder="Email *" required />
			</div>
			<div class="form-group">
				<input class="form-control" type="password" id="password" name="password" placeholder="Password *" required minlength="7" />
				<input class="form-control" type="password" id="password2" name="password2" placeholder="Password Confirm *" required />
			</div>
			<h5> Contact Information </h5>
			<div class="address-pane">
				<div class="form-group col-sm-6">
					<input class="form-control" type="text" name="firstname" placeholder="FirstName" >
				</div>
				<div class="form-group col-sm-6">
					<input class="form-control" type="text" name="lastname" placeholder="LastName" >
				</div>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="phone" placeholder="Phone Number *" required />
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="fax" placeholder="Fax " />
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="company" placeholder="Company " />
			</div>
			<div class="address-pane">
				<div class="col-sm-8 form-group">
					<input class="form-control" type="text" name="address" placeholder="Address *" required />
				</div>
				<div class="col-sm-4 form-group">
					<input class="form-control" type="text" name="postcode" placeholder="Postcode *" required />
				</div>
			</div>
			<div class="form-group">
				<select class="form-control" type="text" name="country" >
					<option> country * </option>
					{% for code, value in countries.items %}
						<option value="{{code}}"> {{value}} </option>
					{% endfor %}
				</select>
			</div>
			<label class="text text-danger"> {{ error }} </label>
			<button class="btn btn-primary col-sm-3 offset-md-5" type="submit" name="register">
				<span class="fa fa-user"> </span> Register
			</button>
		</form>
	</div>

{% endblock %}

{% block custom_script %} 
	<script language="javascript">
		$(document).ready(function() {
			$("#register-form").submit(function() {
				if($("#password").val() != $("#password2").val()) {
					$("#password2").focus();
					return false;
				}
			}); 
		}); 
	</script>
{% endblock %}
